---
// Dynamically import all JSON files from the terms directory
const termsContext = import.meta.glob('/src/content/terms/*.json');
const cards = await Promise.all(
  Object.values(termsContext).map(async (importFn) => {
    const module = await importFn();
    return module.default;
  })
);
---

<div class="card-container" id="cardContainer">
  {cards.map(card => (
    <div class="card" 
         data-title={card.title} 
         data-description={card.description.texts.join('\n\n')} 
         data-image-url={card.description.image} 
         data-resource-url={card.description.references[0]}
         data-keywords={(card.keywords || []).join(', ')}>
      <div class="card-title">{card.title}</div>
      <div class="card-subtext">{card.subtext}</div>
      <button class="explain-button">Explain</button>
    </div>
  ))}
</div>

<!-- Modal Structure -->
<div id="modal">
  <div id="modal-content">
    <div id="modal-body"></div>
  </div>
</div>

<!--Script that handles card actions like onclick on card, explain button and modal actions -->
<script is:inline src="/card-actions.js"></script>