---
import type { CardProps } from "../types"

const { terms: cards } = Astro.props

const paginateOptions = [
  { label: "6", value: 6 },
  { label: "12", value: 12 },
  { label: "24", value: 24 },
  { label: "48", value: 48 }
]
---

<div class="pagination-bar">
  <div class="pagination-filter">
    <select class="select" id="pagination-select">
      {
        paginateOptions.map((option) => (
          <option value={option.value} id={`paginate-${option.label}`}>
            {option.label}
          </option>
        ))
      }
    </select>
  </div>

  <button class="button navigation-button" id="prev-button">
    <i class="bi bi-arrow-left-circle"></i>
  </button>

  <button class="button navigation-button" id="next-button">
    <i class="bi bi-arrow-right-circle"></i>
  </button>
</div>

<div class="card-container" id="cardContainer">
  {
    cards.map((card: CardProps) => (
      <div
        class="card"
        data-title={card.data.title}
        data-description={card.data.description.texts.join("\n\n")}
        data-image-url={card.data.description.image}
        data-resource-url={card.data.description.references[0]}
        data-categories={(card.data.categories || []).join(", ")}
      >
        <div class="card-title">{card.data.title}</div>
        <div class="card-subtext">{card.data.subtext}</div>
        <button class="explain-button">Explain</button>
      </div>
    ))
  }
</div>

<!-- To-do -->
<!--
  [x] Implement pagination feature with buttons and dropdowns (6, 12, 24)
  [x] Implement unit test for pagination feature
  [x] Migrate pagination feature to a new script (./scripts/pagination.ts)
 -->

<script src="../scripts/paginate.ts"></script>
