---
import type { CardProps } from "../types"

const { terms: cards } = Astro.props
---

<div class="pagination-bar">
  <div class="pagination-filter">
    <select class="select" id="pagination-select">
      <option value={6}>6</option>
      <option value={12}>12</option>
      <option value={24}>24</option>
    </select>
  </div>

  <button class="button navigation-button" id="prev-button">
    <i class="bi bi-arrow-left-circle"></i>
  </button>

  <button class="button navigation-button" id="next-button">
    <i class="bi bi-arrow-right-circle"></i>
  </button>
</div>

<div class="card-container" id="cardContainer">
  {
    cards.map((card: CardProps) => (
      <div
        class="card"
        data-title={card.data.title}
        data-description={card.data.description.texts.join("\n\n")}
        data-image-url={card.data.description.image}
        data-resource-url={card.data.description.references[0]}
        data-categories={(card.data.categories || []).join(", ")}
      >
        <div class="card-title">{card.data.title}</div>
        <div class="card-subtext">{card.data.subtext}</div>
        <button class="explain-button">Explain</button>
      </div>
    ))
  }
</div>

<script>
  const prevButton = document.getElementById("prev-button")
  const nextButton = document.getElementById("next-button")

  prevButton?.addEventListener("click", () => {
    alert("Button was clicked")
  })

  nextButton?.addEventListener("click", () => {
    alert("Click next button")
  })
</script>
